{% extends "base_page_application.html" %}

{% block page-title %}
{% endblock %}

{% block page-lead %}

{% if success %}
Your answer is <span class="fw-bold"></span>correct
{% else %}
Your answer is <span class="fw-bold"></span>wrong
{% endif %}

{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form-result">

  {% if success %}
  <p></p>
  {% else %}
  <p>Your answer: <b>{{ user_ans }}</b><br>
  Right answer: <b>{{ correct }}</b></p>
  {% endif %}

  <h2 class="pb-2 border-bottom">Other pages:</h2>
  <ul>
    <li>Return to <a href="/">base page</a></li>
    <li>Try to check your <a href="/grammar-use">grammar</a> again</li>
  </ul>
</div>
{% endblock %}