{% extends "base_page_application.html" %}

{% block page-title %}

{% endblock %}

{% block page-lead %}
Test your grammar knowledge <br/>
Insert the missing word / ending / wordform according to the grammar rules <br/>
{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="term-remind">
  <form method="post">
      <div class="row px-5 py-2">
          <div class="col-md-6">
              <b>{{ trans }}</b>
          </div>
          <div class="col-md-6">
            <label for="known_word">Your answer:</label>
            <input type="text" class="form-control input-lg" name="known_word" id="known_word" placeholder="" value required>
          </div>
      </div>
      <div class="row px-5 py-2">
          <button type="submit" class="btn btn-primary" formaction="/check-grammar">Check</button>
      </div>
  </form>
</div>
{% endblock %}