{% extends "base_page.html" %}
{% load static %}
{% block page-title %}
God save the King!
{% endblock %}

{% block page-lead %}
This is a Web application for learning English language and culture. <br/>
Add new words, study, outline lessons in this application. <br/> <br/>

Random quote of a famous person: <br/>
<b>&laquo;{{ quote }}&raquo;</b> <br/> 
<b>{{ person }}</b>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">How can this project be useful to an honest citizen?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">The Great Dictionary</h3>
                <p>List of words with translation held by the Crown</p>
                <a href="/terms-list" class="btn btn-primary">Search</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Add new words to The Great Dictionary </h3>
                <p>Serve the metropolis! Find new words in all corners of the world!</p>
                <a href="/add-term" class="btn btn-primary">
                    Add
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Test your knowledge of words</h3>
                <p>In long-distance colonial campaigns, one cannot disgrace the Motherland! Test yourself</p>
                <a href="/terms-play" class="btn btn-primary">Train</a>
            </div>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="col d-flex">
                <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h3 class="fs-2">Test your grammar</h3>
                    <p>You need to speak competently even with natives</p>
                    <a href="/grammar-play" class="btn btn-primary">Train</a>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Outline the lesson</h3>
                <p>Add a summary of the lesson or a brief so as not to miss ideas and facts</p>
                <a href="/add-note" class="btn btn-primary">
                    Add
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Revision</h3>
                <p>Check your notes and recordings</p>
                <a href="/notes" class="btn btn-primary">
                    Check
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}