{% extends "base_page_application.html" %}

{% block page-title %}
{% endblock %}

{% block page-lead %}
Recordings of your English lessons
{% endblock %}


{% block content %}

{% if notes %}
  {% for id, name, note in notes %}
  <div class="container-sm px-5 py-5" id="note-form">
    <h2>{{ id }}. {{ name }}</h2>
      {% for line in note %}
        <p>{{ line }}</p>
      {% endfor %}

  </div>
  {% endfor %}
{% else %}
  <div class="container-sm px-5 py-5" id="note-form">
    <p>The list of notes for your classes is empty!</p>
  </div>
{% endif %}



{% endblock %}