{% extends "base_page_application.html" %}

{% block page-title %}
{% endblock %}

{% block page-lead %}
List of all words in the Dictionary
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="terms-table">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">№</th>
              <th scope="col" class="py-3">English word</th>
              <th scope="col" class="py-3">Russian translation</th>
            </tr>
          </thead>
          <tbody>
            {% for cnt, term, definition in terms %}
            <tr>
                <td class="py-3">{{ cnt }}</td>
                <td class="py-3">{{ term }}</td>
                <td class="py-3">{{ definition }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
