{% extends "base_page_application.html" %}

{% block page-title %}
Test your vocabulary knowledge
{% endblock %}

{% block page-lead %}
According to the Russian translation of the word, write the English word
{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="term-remind">
  <form method="post">
      <div class="row px-5 py-2">
          <div class="col-md-6">
              <label for="new_translation">Russian translation</label><br>
              <b>{{ trans }}</b>
          </div>
          <div class="col-md-6">
            <label for="known_word">English word</label>
            <input type="text" class="form-control input-lg" name="known_word" id="known_word" placeholder="Word" value required>
          </div>
      </div>
      <div class="row px-5 py-2">
          <button type="submit" class="btn btn-primary" formaction="/check-term">Check</button>
      </div>
  </form>
</div>
{% endblock %}