{% extends "base_page_application.html" %}

{% block page-title %}
Adding words to the Dictionary
{% endblock %}

{% block page-lead %}

Add the word to the Great Dictionary. <br>
Specify the English spelling of the word and its translation into Russian
{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post" enctype="multipart/form-data">
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_word">English word</label>
                <input type="text" class="form-control input-lg" name="new_word" id="new_word" placeholder="Word">
            </div>
            <div class="col-md-8">
                <label for="new_translation">Russian translation</label>
                <input type="text" class="form-control input-lg" name="new_translation" id="new_translation" placeholder="Слово">
            </div>
        </div>


        <div class="row px-4 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-term">Submit</button>
        </div>

    </form>

</div>
{% endblock %}
