{% extends "base_page_application.html" %}

{% block page-title %}
Adding a word and translation...
{% endblock %}

{% block page-lead %}{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="term-form-result">

    <p>
        The word is <span class="fw-bold">{% if success %}successfully{% else %}NOT{% endif %}</span> recorded in the Dictionary!
    </p>

    <p>{{ comment }}</p>

    <h2 class="pb-2 border-bottom">Other pages:</h2>
    <ul>
        <li>Return to <a href="/">base page</a></li>
        <li>Add one <a href="/add-term">more</a> word to a Dictionary</li>
        <li>Revise all recordings in a <a href="/terms-list">Dictionary</a> </li>
    </ul>
</div>
{% endblock %}
